<div class="container-fluid" *ngIf="allTodos$ | async as allTodos">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center my-3 text-white fw-bold">The list of the tasks</h2>
			<div style="background-color: white; height: 5px;"></div>
			<div class="text-center mt-2 ">
				<h6 class="">
					Number of tasks <span class="badge bg-success">{{ allTodos.length }}</span>
				</h6>
			</div>
			<app-todo-add></app-todo-add>
			<ng-container *ngIf="allTodos.length > 0; else message">
				<div class="text-center mb-2">
					<button class="btn btn-success" (click)="showStatuses()">
						{{ !status ? 'Show' : 'Hide' }} statuses
					</button>
				</div>
				<app-todo-search (sendSearchedTitile)="filterTitles($event)">
				</app-todo-search>
			</ng-container>
			<app-todo *ngFor="let aTodo of allTodos | sorting | filtering : titleToSearch; trackBy: trackById"
				[todo]="aTodo" [status]="status">
			</app-todo>
			<ng-template #message>
				<div class="row">
					<div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xxl-3  mx-auto">
						<alert type="info" class="text-center"> There are no tasks, add some tasks </alert>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>